.footerBg{
    background: #3F5252;
}
.footer{
    position: relative;
    padding: 50px 55px 120px 55px;
    display: grid;
    grid-template-columns: repeat(3, 370px);
    grid-template-rows: 30px 96px 20px 20px;
    gap: 30px;
    &__titles{
        color: #fff;
        &__contacts{
            font-weight: 700;
            color: #fff;
            grid-column: 1 / 2;
            grid-row: 1/ 2;
            font-family: 'Playfair Display', serif;
            &__info{
                
                font-family: 'Raleway';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 150%;

                color: #fff;
                grid-column: 1 / 2;
                grid-row: 2/ 3;
            }
            &__links{
                display: flex;
                gap: 25px;
                align-items:center;
            }
        }
        &__layout{
            font-family: 'Playfair Display', serif;
            font-weight: 700;
            color: #fff;
            grid-column: 2 / 3;
            grid-row: 1/ 2;

            &__info{
                font-family: 'Raleway';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 150%;
                color: #fff;
                grid-column: 2 / 3;
            grid-row: 2/3;
            }
        }
        &__home{
            padding-top: 40px;
            font-weight: 700;
            font-family: 'Playfair Display', serif;
            color: #fff;
            grid-column: 3 / 4;
            grid-row: 1/ 2;

            &__info{
                padding-top: 40px;
                font-family: 'Raleway';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 150%;
                display: flex;
                flex-direction: column;
                gap: 10px;
                color: #fff;
                grid-column: 3 / 4;
                grid-row: 2/ 3;

            }
        }
    }
    .home{
        position: absolute;
        bottom:35px;
        right: 45px;


    }
}
p{
    margin: 0;
}

